.document-adder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.document-adder button {
    background-color: white;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    outline: 0;
    color: black;
}

.document-adder h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.document-adder input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.document-adder button:hover {
    background-color: rgb(167, 161, 161);
    outline: 0;
}

