.App {
  background-image: linear-gradient(#2f2a2a, rgb(85, 78, 78));
  color: white;
  min-height: 100vh; /* Ensure the container covers the full height of the viewport */
}

.app-content {
  padding-top: 50px; /* Adjust as needed to accommodate the Navbar height */
}

.card-components { 
  background-color: rgb(182, 178, 178);
  color: black;
  width: 50%; /* Adjust the width as needed */
  margin: 0 auto; /* Set left and right margins to auto to center horizontally */
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 20px;

}

